.app-container {
    display: flex;
  }
  
  .sidebar-container {
    width: 300px; /* Adjust the width as needed */
  }
  
  .main-container {
    flex: 1;
  }
  
  .header {
    padding: 20px;
  }
  
  .content {
    padding: 20px;
  }
  